.blackNot,.whiteNot,.blackSerected,.whiteSerected{
  border-width: 2.5px;
  font-size: 20px;
  height: 55px;
  width: 40px;
  float: left;
  margin-right: 5px;
  margin-bottom: 3px;
}
.blackNot{
  color: #dfe7ee;
  background-color: #001b22;
  border-color: #545454;
}
.whiteNot{
  color: #001b22;
  background-color: #dfe7ee;
  border-color: #dfe7ee;
}
.blackSerected{
  color: #dfe7ee;
  background-color: #001b22;
  border-color: #fc0008;
}
.whiteSerected{
  color: #001b22;
  background-color: #dfe7ee;
  border-color: #fc0008;
}
.error{
  color: #fc0008;
}
div,p{
  clear: both;
}

h3{
  margin-bottom: auto;
}

input{
  height: 20px;
  width: 25px;
  margin-right: 4px;
}
